<document>
    <listTemplate theme="dark" class="{{class}}">
        <background>
        </background>
        <banner>
            <title>{{message}}</title>
        </banner>
        <list>
            <section>
            </section>
        </list>
    </listTemplate>
</document>
<!-- Jedná se o hack. TVML neumí změnit barevné pozadí u loadingTemplate, takže by obrazovka moc blikala. Proto použiji prázdný listTemplate-->
