<document>
    <stackTemplate>
        <banner>
            <title>Oblíbené pořady</title>
        </banner>
        <collectionList>
            <grid>
                <section>
                    {{#each favorites }}
                                <lockup data-href-page="programme-list" data-href-page-options="{{toJSON this}}">
                                    <img class="darkImage" src="{{fullImageURL showInfo.imageURL}}" style="width:544; height:306;"/>
                                    <overlay>
                                        <title class="showAndScrollTextOnHighlight">{{ title }}</title>
                                        <!-- <text class="overlayTextLayout">{{live.programme.channelTitle}}</text> -->
                                    </overlay>
                                </lockup>
                    {{/each}}
                </section>
            </grid>
        </collectionList>
    </stackTemplate>
</document>
